<% if current_user %>
	<div id="new-cheep">
		<form action="/cheeps" method="post">
			Compose new Cheep: <input type="text" name="content">
			<% created_at = Time.now %>
			<input type="submit" class ="btn btn-primary" value="Cheep">
		</form>
	</div>
<% end %>


<div class="jumbotron">
	<ul>
		<% @cheeps.each do |cheep| %>
			<li>
				<div class="username"><%= cheep.user_id %>&nbsp;&nbsp;</div> 
				<div class="timestamp">
					<%= cheep.created_at.strftime '%a' %> at <%= cheep.created_at.strftime '%l.%M%P' %>
				</div>
				<div class="content"><%= cheep.content %></p></div>
			</li>
		<% end %>
	</ul>
</div>