<!DOCTYPE>
<html>
	<head>
		<meta charset='UTF-8' />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/styling.css" rel="stylesheet">
	</head>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <p class="navbar-text">Chitter</p>
    </div>

    <% if current_user %>

      <form class="navbar-form navbar-right" action="/sessions" method="post">
          <div class="form-group">
            <input type="hidden" name="_method" value="delete">
          </div>
        <input type="submit" class ="btn btn-primary" value="Sign out">
      </form>

    <% else %>

      <form class="navbar-form navbar-right" action="/sessions/new" method="get">
        <input type="submit" class ="btn btn-primary" value="Log in">
      </form>

    <% end %>

  </div>
</nav>


  <body>
    <div class="container" style="padding: 20px;">
  		<span id="welcome-message">
        <% if current_user %>
  			  Welcome to Chitter <%= current_user.handle %>
        <% end %>
      </span>

      <% if flash[:notice] %>
        <div id="welcome-message">
          <%= flash[:notice] %>
        </div>
      <% end %>

      <% if flash[:errors] && !flash[:errors].empty? %>
        Sorry, there were the following problems with the form.
        <ul id="errors">
          <% flash[:errors].each do |error| %>
            <li><%= error %></li>
          <% end %>
        </ul>
      <% end %>
      
      <%= yield %>
    </div>
  </body>
</html>