body {

	background-color: black;
}

.navbar-default {
	
	background-color: white;

}

.navbar-text {

	color: gray;
	font-size: 20px;
	font-weight: bold;

}

ul {
    
    list-style-type: none;
}

.jumbotron {

	width: 50em;

}

.username {

	font-weight: bold;
	font-size: 18px;
	float: left;

}

.timestamp {

	font-size: 18px;
	color: gray;

}

.content {

	font-size: 18px

}

.btn-primary {

	background-color: #55acee;
	border-color: #55acee;
}

.navbar-btn {

	color: white;
}

#new-cheep {

	color: gray;

}

#welcome-message {

	font-size: 24px;
	color: #55acee;
}

